site_name: Aulas de Ética e Responsabilidade em Inteligência Artificial
site_description: Site de aulas e materiais didáticos da matéria "Ética e Responsabilidade em Inteligência Artificial"
site_author: Luccas Alencar

# Repositório (substitua pelo seu)
repo_name: LuccasAlencar/aulas-etica-responsabilidade-em-ia
repo_url: https://github.com/LuccasAlencar/aulas-etica-responsabilidade-em-ia

# Tema
theme:
  name: material
  language: pt-BR
  palette:
    # Modo claro
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Mudar para modo escuro
    # Modo escuro
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Mudar para modo claro
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.footer

# Plugins
plugins:
  - search:
      lang: pt

# Extensões Markdown
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Navegação
nav:
  - Home: index.md
  - Aulas:
    - Aula 1-: aulas/Aula1.md
    - Aula 2-: aulas/Aula2.md
    - Aula 3-: aulas/Aula3.md


extra:
  generator: false